<h1>Edit Kite</h1>

<%= form_for @kite do |f| %>

Name: <%= f.text_field :name %>
Description: <%= f.text_field :description %>
Manufacturer: <%= f.text_field :manufacturer %>
Color: <%= f.text_field :color %>
Quantity: <%= f.text_field :quantity %>
Price: <%= f.text_field :price %>



<%= f.submit %>

<% end %>

<%= link_to 'Back to Kite List', kite_path %>